@media screen and (max-width:756px){

    #title, #title2{
        width: 60%;
    }
    h1{
        font-size: 1em;
       
    }

    #panier{
        font-size: .5em;
    }

    .bag{
        font-size: 2em;
    }

    #consult{
        font-size: 1.3em;
    }
        
    h3{
        font-size: 1.2em;
    }
    
    p{
        font-size: .6em;
    }

    #imgproduct{
        width: 300px;

    }
    .buttons{
        font-size: .5em;
    }

    #copy{
        font-size: .4em;
    }
}







//@media screen and (min-width:992px)

html, body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Roboto' , cursive;
    
    
}

.container-fluid {
    margin:0;
    padding:0;
    width: 100%;
    height: 100%;
    }

#logo, #logo2{
    width: 5%;
}

#navpan{
    display: flex;  
    justify-content: center; 
}

h1{
    
    background-color: #f3ebf3;
   text-align: center;
}

#panier{
    font-size: 1.2em;
    color:rgb(174, 114, 235);
    &:hover{
       color : rgb(115, 54, 177);
       text-decoration: none;
    }
    
}

.bag{
    font-size: 1.2em;
    margin-bottom: 35px;
    margin-right: 10px;
    color:rgb(174, 114, 235);
    &:hover{
       color : rgb(115, 54, 177);
    }
}

.photos{
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

.Prices{
    border: 1px solid #000;
    background-color: rgb(247, 232, 247);
    width: 59%;
    margin-left: auto;
    margin-right: auto;
}

  
h3{
    font-size: 2.6em;
    font-family: monoton;
}

#ref{
    font-size: .6em;
}

#Acceuil{
    width: 100%;
}

.navbar {
background-color: #f3ebf3;
}

.perso{
    font-size: 1em;
}

#image{
    width: 100%;
    position: absolute;
    display: block;
}

#consult {
    text-align: center;
    font-size: 50px;
    
}

p{
    font-size: 1.4em;
}

#copy{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.Largeur{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#divNumber0{
    background-color: rgb(235, 214, 252);
}

#divNumber1{
    background-color: rgb(248, 196, 255);
}

#divNumber2{
    background-color: rgb(203, 147, 218);
}

#divNumber3{
    background-color: rgb(209, 186, 248);
}

#divNumber4{
    background-color: rgb(193, 192, 253);
}

.proDiv{
    text-align: center;
    background-color: rgb(179, 248, 229);
    border: 1px solid #000;    
    margin-bottom: 2%;
    border-radius: 10%;
}

#layDiv{
    text-align: center;
}

.buttons{
    margin-bottom: 5%;
    width: 25%;
    height: 7.5%;
    font-size: .9em;
        &:hover{
            background-color: rgb(211, 146, 236);
            color: springgreen;
            &:active{
                background-color: rgb(150, 89, 248);
                color: palegreen;
            }
        }
}

#quantity{
    padding-bottom: 3% ;
}

#flex3{
display: flex;
justify-content: center;
background-color: #f3ebf3;
align-items: center;
}

#flex4{
    display: flex;
    justify-content: center;
    background-color: #f3ebf3;
    }

#flex4 img {
    width: 10%;
}

#buttonDiv{
    text-align: center;
    margin-bottom: 4%;
}

#total{
    font-size: 1.4em;
    font-weight: bolder;
}

#panierVide{
    text-align: center;
    margin-bottom: 1.5%;
};

#h2{
    text-align: center;
}

#h3{
    text-align: center;
}

#ima{
    margin-right: 15%;
}


.form-group{
    margin: auto;
}

#final{
    margin-top: 2%;
    margin-bottom: 2%;
}

#submit{
    margin-top: 2%;
    margin-bottom: 2%; 
}

#confirm{
    text-align: center;
}

#total{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    margin-bottom: 2%;
}

#table{
    text-align: center;
}

#somme{
    height:10%;
}

#bravo, #merci{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#return{
  text-align: center;
}