@charset "UTF-8";
/**************************************************All pages***************************************************/
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Roboto' , cursive;
}

.container-fluid {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#logo, #logo2 {
  width: 5%;
}

#panier {
  font-size: 1.2em;
  color: #ae72eb;
}

#panier:hover {
  color: #7336b1;
  text-decoration: none;
}

.bag {
  font-size: 1.2em;
  margin-bottom: 35px;
  margin-right: 10px;
  color: #ae72eb;
}

.bag:hover {
  color: #7336b1;
}

p {
  font-size: 1.4em;
}

.imgAcceuil {
  position: relative;
  text-align: center;
}

.buttons {
  margin-bottom: 5%;
  width: 25%;
  height: 7.5%;
  font-size: .9em;
}

.buttons:hover {
  background-color: #d392ec;
  color: springgreen;
}

.buttons:hover:active {
  background-color: #9659f8;
  color: palegreen;
}

footer {
  bottom: 0;
  left: 0;
  right: 0;
}

#flex3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f3ebf3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#flex4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f3ebf3;
}

#flex4 img {
  width: 10%;
}

/***************************************************Index.html******************************************************/
#navpan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

h1 {
  background-color: #f3ebf3;
  text-align: center;
}

#consult {
  text-align: center;
  font-size: 50px;
}

.Largeur {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#divNumber0 {
  background-color: #ebd6fc;
}

#divNumber1 {
  background-color: #f8c4ff;
}

#divNumber2 {
  background-color: #cb93da;
}

#divNumber3 {
  background-color: #d1baf8;
}

#divNumber4 {
  background-color: #c1c0fd;
}

.proDiv {
  text-align: center;
  background-color: #b3f8e5;
  border: 1px solid #000;
  margin-bottom: 2%;
  border-radius: 10%;
}

.photos {
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
}

.Prices {
  border: 1px solid #000;
  background-color: #f7e8f7;
  width: 59%;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  font-size: 2.6em;
  font-family: monoton;
}

/**************************************************Produits.html****************************************************/
.h2 {
  font-family: monoton;
  font-size: 3em;
}

#reférence {
  font-size: .7em;
}

#Acceuil {
  width: 100%;
}

.navbar {
  background-color: #f3ebf3;
}

.perso {
  font-size: 1em;
}

#imgproduct {
  border-radius: 20%;
}

select {
  margin-bottom: 2%;
}

#image {
  width: 100%;
  position: absolute;
  display: block;
}

#copy {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

#layDiv {
  text-align: center;
}

#quantity {
  padding-bottom: 3%;
}

#buttonDiv {
  text-align: center;
  margin-bottom: 4%;
}

/**********************************************Panier.html************************************************************/
#table {
  margin-top: 5%;
}

#form {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
}

#total {
  font-size: 1.4em;
  font-weight: bolder;
}

#panierVide {
  text-align: center;
  margin-bottom: 1.5%;
}

#h2 {
  text-align: center;
}

#h3 {
  text-align: center;
}

#ima {
  margin-right: 15%;
}

.form-group {
  margin: auto;
}

#final {
  margin-top: 2%;
  margin-bottom: 2%;
}

#submit {
  margin-top: 2%;
  margin-bottom: 2%;
}

#confirm {
  text-align: center;
}

#total {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  margin-bottom: 2%;
}

.nb {
  color: #000;
}

#table {
  text-align: center;
}

#somme {
  height: 10%;
}

#bravo, #merci {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*************************************************Confirmation***********************************************************/
#recapDiv {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#return {
  margin-bottom: 2.5%;
  margin-top: 2%;
}

#bravo {
  text-align: center;
  margin-top: 10%;
  font-family: 'Dancing Script', cursive;
  font-size: 2.5em;
  margin-bottom: 10%;
}

#recap {
  text-align: center;
  font-family: 'Dancing Script', cursive;
  margin-bottom: 10%;
  font-size: 1.7em;
}

#merci {
  text-align: center;
  font-family: 'Dancing Script', cursive;
  margin-top: 5%;
  margin-left: 9%;
  white-space: nowrap;
  font-size: 1.25em;
}

#prixFinal {
  text-align: center;
  margin-bottom: 10%;
  font-size: 1.7em;
  margin-left: 10%;
}

#lastImage {
  position: relative;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 2em;
}

#sectionText {
  position: absolute;
  top: 54%;
  left: 45%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

span {
  color: #c586f0;
}

/***********************************************Smartphone layout**************************************************/
@media screen and (min-width: 319px) and (max-width: 767px) {
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #title, #titleP, #title2 {
    width: 50%;
    margin-left: 25%;
  }
  #deleteAll {
    width: 130px;
  }
  #btnCont {
    width: 190px;
    font-size: 1em;
  }
  #logo {
    width: 5%;
  }
  #h3 {
    font-size: 1.5em;
  }
  th, td {
    font-size: .7em;
  }
  .images {
    width: 30px;
  }
  #title2 {
    width: 60%;
  }
  #layDiv {
    margin-top: 10%;
  }
  h1 {
    font-size: 1em;
  }
  #panier {
    font-size: .5em;
  }
  .bag {
    font-size: 2em;
  }
  .photos {
    width: 100px;
  }
  .Largeur {
    width: 350px;
  }
  .Prices {
    font-size: .7em;
  }
  .perso {
    font-size: .6em;
  }
  #consult {
    font-size: 1.3em;
  }
  h3 {
    font-size: 1.2em;
    margin-top: 2%;
  }
  p {
    font-size: .6em;
  }
  #imgproduct {
    width: 300px;
  }
  .buttons {
    font-size: .5em;
  }
  #copy {
    font-size: .4em;
  }
  /************************************************************Confirmation smart layout************************************/
  #return {
    margin-bottom: 2.5%;
    margin-top: 2%;
    width: 120px;
    font-size: .5em;
  }
  #bravo {
    text-align: center;
    margin-top: 2%;
    font-family: 'Dancing Script', cursive;
    font-size: 1.9em;
    margin-bottom: 10%;
  }
  #recap {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    margin-bottom: 10%;
    font-size: 1.7em;
  }
  #merci {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    margin-top: 3%;
    margin-left: 9%;
    white-space: nowrap;
    font-size: 1.15em;
  }
  #prixFinal {
    text-align: center;
    margin-bottom: 10%;
    font-size: 1.5em;
    margin-left: 10%;
  }
  #lastImage {
    position: relative;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: .7em;
  }
  #sectionText {
    position: absolute;
    top: 54%;
    left: 45%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  h3 {
    margin-top: 2%;
  }
  .Largeur {
    width: 70%;
  }
  #deleteAll {
    width: 190px;
    font-size: 1.4em;
  }
  #btnCont {
    width: 250px;
    font-size: 1.4em;
  }
  #submit {
    width: 270px;
    font-size: 1.3em;
  }
  #return {
    margin-bottom: 2.5%;
    margin-top: 2%;
    width: 120px;
    font-size: .5em;
  }
  #bravo {
    text-align: center;
    margin-top: 2%;
    font-family: 'Dancing Script', cursive;
    font-size: 3.9em;
    margin-bottom: 10%;
  }
  #recap {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    margin-bottom: 10%;
    font-size: 2.7em;
  }
  #merci {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    margin-top: 3%;
    margin-left: 9%;
    white-space: nowrap;
    font-size: 2.15em;
  }
  #prixFinal {
    text-align: center;
    margin-bottom: 10%;
    font-size: 2.5em;
    margin-left: 10%;
  }
  #lastImage {
    position: relative;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: .7em;
  }
  #sectionText {
    position: absolute;
    top: 54%;
    left: 45%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
/*# sourceMappingURL=style.css.map */