/**************************************************All pages***************************************************/

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Roboto', cursive;
}

.container-fluid {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#logo {
  width: 5%;
}
#logo2
{
  width: 5%
}

#logo3
{
  width: 15%
}

#title3{
  
  margin-right: 60px;
}

#panier {
  font-size: 1.2em;
  color: rgb(174, 114, 235);
  &:hover {
    color: rgb(115, 54, 177);
    text-decoration: none;
  }
}

.bag {
  font-size: 1.2em;
  margin-bottom: 35px;
  margin-right: 10px;
  color: rgb(174, 114, 235);
  &:hover {
    color: rgb(115, 54, 177);
  }
}

p {
  font-size: 1.4em;
}

.imgAcceuil {
  position: relative;
  text-align: center;
}

.buttons {
  margin-bottom: 5%;
  width: 25%;
  height: 7.5%;
  font-size: 0.9em;
  &:hover {
    background-color: rgb(211, 146, 236);
    color: springgreen;
    &:active {
      background-color: rgb(150, 89, 248);
      color: palegreen;
    }
  }
}

footer {
  bottom: 0;
  left: 0;
  right: 0;
}

#flex3 {
  display: flex;
  justify-content: center;
  background-color: #f3ebf3;
  align-items: center;
}

#flex4 {
  display: flex;
  justify-content: center;
  background-color: #f3ebf3;
}

#flex4 img {
  width: 10%;
}

/***************************************************Index.html******************************************************/

#navpan {
  display: flex;
  justify-content: center;
}

h1 {
  background-color: #f3ebf3;
  text-align: center;
}

#consult {
  text-align: center;
  font-size: 50px;
}

.Largeur {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#divNumber0 {
  background-color: rgb(235, 214, 252);
}

#divNumber1 {
  background-color: rgb(248, 196, 255);
}

#divNumber2 {
  background-color: rgb(203, 147, 218);
}

#divNumber3 {
  background-color: rgb(209, 186, 248);
}

#divNumber4 {
  background-color: rgb(193, 192, 253);
}

.proDiv {
  text-align: center;
  background-color: rgb(179, 248, 229);
  border: 1px solid #000;
  margin-bottom: 2%;
  border-radius: 10%;
}

.photos {
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
}

.Prices {
  border: 1px solid #000;
  background-color: rgb(247, 232, 247);
  width: 59%;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  font-size: 2.6em;
  font-family: monoton;
}
/**************************************************Produits.html****************************************************/

.h2 {
  font-family: monoton;
  font-size: 3em;
}

#reférence {
  font-size: 0.7em;
}

#Acceuil {
  width: 100%;
}

.navbar {
  background-color: #f3ebf3;
}

.perso {
  font-size: 1em;
}

#imgproduct {
  border-radius: 20%;
}

select {
  margin-bottom: 2%;
}

#image {
  width: 100%;
  position: absolute;
  display: block;
}

#copy {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

#layDiv {
  text-align: center;
}

#quantity {
  padding-bottom: 3%;
}

#buttonDiv {
  text-align: center;
  margin-bottom: 4%;
}

/**********************************************Panier.html************************************************************/

#table {
  margin-top: 5%;
}

#form {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
}

#total {
  font-size: 1.4em;
  font-weight: bolder;
}

#panierVide {
  text-align: center;
  margin-bottom: 1.5%;
}

#h2 {
  text-align: center;
}

#h3 {
  text-align: center;
}

#ima {
  margin-right: 15%;
}

.form-group {
  margin: auto;
}

#final {
  margin-top: 2%;
  margin-bottom: 2%;
}

#submit {
  margin-top: 2%;
  margin-bottom: 2%;
}

#confirm {
  text-align: center;
}

#total {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  margin-bottom: 2%;
}

.nb {
  color: #000;
}

#table {
  text-align: center;
}

#somme {
  height: 10%;
}

#bravo,
#merci {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*************************************************Confirmation***********************************************************/

#recapDiv {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#return {
  margin-bottom: 2.5%;
  margin-top: 2%;
  width: 200px;
  height: 50px;
  font-size: 1.2em;
}

#bravo {
  text-align: center;
  margin-top: 15%;
  font-family: 'Dancing Script', cursive;
  font-size: 2.3em;
  margin-bottom: 10%;
}

#recap {
  text-align: center;
  font-family: 'Dancing Script', cursive;
  margin-bottom: 10%;
  font-size: 1.7em;
}

#merci {
  text-align: center;
  font-family: 'Dancing Script', cursive;
  margin-top: 5%;
  margin-left: 9%;
  white-space: nowrap;
  font-size: 1em;
}

#prixFinal {
  text-align: center;
  margin-bottom: 10%;
  font-size: 1.5em;
  margin-left: 10%;
}

#lastImage {
  position: relative;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 2em;
}

#sectionText {
  position: absolute;
  top: 54%;
  left: 45%;
  transform: translate(-50%, -50%);
}

span {
  color: rgb(197, 134, 240);
}

/***********************************************Smartphone layout**************************************************/

@media screen and (min-width: 319px) and (max-width: 767px) {
  .navbar {
    display: flex;
    justify-content: space-around;
  }

  #title,
  #titleP,
  #title2 {
    width: 50%;
    margin-left: 25%;
  }

  #deleteAll {
    width: 130px;
  }

  #btnCont {
    width: 190px;
    font-size: 1em;
  }

  #logo {
    width: 5%;
  }

  #h3 {
    font-size: 1.5em;
  }

  th,
  td {
    font-size: 0.7em;
  }

  .images {
    width: 30px;
  }

  #title2 {
    width: 60%;
  }

  #layDiv {
    margin-top: 10%;
  }

  h1 {
    font-size: 1em;
  }

  #panier {
    font-size: 0.5em;
  }

  .bag {
    font-size: 2em;
  }

  .photos {
    width: 100px;
  }

  .Largeur {
    width: 350px;
  }

  .Prices {
    font-size: 0.7em;
  }

  .perso {
    font-size: 0.6em;
  }

  #consult {
    font-size: 1.3em;
  }

  h3 {
    font-size: 1.2em;
    margin-top: 2%;
  }

  p {
    font-size: 0.6em;
  }

  #imgproduct {
    width: 300px;
  }
  .buttons {
    font-size: 0.5em;
  }

  #copy {
    font-size: 0.4em;
  }

  /************************************************************Confirmation smart layout************************************/

  #return {
    margin-bottom: 2.5%;
    margin-top: 2%;
    width: 120px;
    font-size: 0.5em;
  }

  #bravo {
    text-align: center;
    margin-top: 2%;
    font-family: 'Dancing Script', cursive;
    font-size: 1.9em;
    margin-bottom: 10%;
  }

  #recap {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    margin-bottom: 10%;
    font-size: 1.7em;
  }

  #merci {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    margin-top: 3%;
    margin-left: 9%;
    white-space: nowrap;
    font-size: 1.15em;
  }

  #prixFinal {
    text-align: center;
    margin-bottom: 10%;
    font-size: 1.5em;
    margin-left: 10%;
  }

  #lastImage {
    position: relative;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 0.7em;
  }

  #sectionText {
    position: absolute;
    top: 54%;
    left: 45%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  h3 {
    margin-top: 2%;
  }

  .Largeur {
    width: 70%;
  }

  #deleteAll {
    width: 190px;
    font-size: 1.4em;
  }

  #btnCont {
    width: 250px;
    font-size: 1.4em;
  }

  #submit {
    width: 270px;
    font-size: 1.3em;
  }

  // layout confirm tablette

  #return {
    margin-bottom: 2.5%;
    margin-top: 2%;
    width: 120px;
    font-size: 0.5em;
  }

  #bravo {
    text-align: center;
    margin-top: 2%;
    font-family: 'Dancing Script', cursive;
    font-size: 3.9em;
    margin-bottom: 10%;
  }

  #recap {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    margin-bottom: 10%;
    font-size: 2.7em;
  }

  #merci {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    margin-top: 3%;
    margin-left: 9%;
    white-space: nowrap;
    font-size: 2.15em;
  }

  #prixFinal {
    text-align: center;
    margin-bottom: 10%;
    font-size: 2.5em;
    margin-left: 10%;
  }

  #lastImage {
    position: relative;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 0.7em;
  }

  #sectionText {
    position: absolute;
    top: 54%;
    left: 45%;
    transform: translate(-50%, -50%);
  }
}