@media screen and (max-width: 756px) {
  #title, #title2 {
    width: 60%;
  }
  h1 {
    font-size: 1em;
  }
  #panier {
    font-size: .5em;
  }
  .bag {
    font-size: 2em;
  }
  #consult {
    font-size: 1.3em;
  }
  h3 {
    font-size: 1.2em;
  }
  p {
    font-size: .6em;
  }
  #imgproduct {
    width: 300px;
  }
  .buttons {
    font-size: .5em;
  }
  #copy {
    font-size: .4em;
  }
}

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: 'Roboto' , cursive;
}

.container-fluid {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#logo, #logo2 {
  width: 5%;
}

#navpan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

h1 {
  background-color: #f3ebf3;
  text-align: center;
}

#panier {
  font-size: 1.2em;
  color: #ae72eb;
}

#panier:hover {
  color: #7336b1;
  text-decoration: none;
}

.bag {
  font-size: 1.2em;
  margin-bottom: 35px;
  margin-right: 10px;
  color: #ae72eb;
}

.bag:hover {
  color: #7336b1;
}

.photos {
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
}

.Prices {
  border: 1px solid #000;
  background-color: #f7e8f7;
  width: 59%;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  font-size: 2.6em;
  font-family: monoton;
}

#ref {
  font-size: .6em;
}

#Acceuil {
  width: 100%;
}

.navbar {
  background-color: #f3ebf3;
}

.perso {
  font-size: 1em;
}

#image {
  width: 100%;
  position: absolute;
  display: block;
}

#consult {
  text-align: center;
  font-size: 50px;
}

p {
  font-size: 1.4em;
}

#copy {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.Largeur {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#divNumber0 {
  background-color: #ebd6fc;
}

#divNumber1 {
  background-color: #f8c4ff;
}

#divNumber2 {
  background-color: #cb93da;
}

#divNumber3 {
  background-color: #d1baf8;
}

#divNumber4 {
  background-color: #c1c0fd;
}

.proDiv {
  text-align: center;
  background-color: #b3f8e5;
  border: 1px solid #000;
  margin-bottom: 2%;
  border-radius: 10%;
}

#layDiv {
  text-align: center;
}

.buttons {
  margin-bottom: 5%;
  width: 25%;
  height: 7.5%;
  font-size: .9em;
}

.buttons:hover {
  background-color: #d392ec;
  color: springgreen;
}

.buttons:hover:active {
  background-color: #9659f8;
  color: palegreen;
}

#quantity {
  padding-bottom: 3%;
}

#flex3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f3ebf3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#flex4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f3ebf3;
}

#flex4 img {
  width: 10%;
}

#buttonDiv {
  text-align: center;
  margin-bottom: 4%;
}

#total {
  font-size: 1.4em;
  font-weight: bolder;
}

#panierVide {
  text-align: center;
  margin-bottom: 1.5%;
}

#h2 {
  text-align: center;
}

#h3 {
  text-align: center;
}

#ima {
  margin-right: 15%;
}

.form-group {
  margin: auto;
}

#final {
  margin-top: 2%;
  margin-bottom: 2%;
}

#submit {
  margin-top: 2%;
  margin-bottom: 2%;
}

#confirm {
  text-align: center;
}

#total {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  margin-bottom: 2%;
}

#table {
  text-align: center;
}

#somme {
  height: 10%;
}

#bravo, #merci {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#return {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */